[Desktop Entry]
Encoding=UTF-8
Name=Borg ER-3
Comment=A tone generator inspired by the Korg ER-1
StartupNotify=false
Exec=borg
Icon=borg
Terminal=false
Type=Application
Categories=Utility;Audio